
p,h6, h5, h4, h3, h2, h1, label, span, input{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
#app{
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}
.app-contaner{
  max-width: 1780px;
  max-height: 1000px;
}
.el-message-box{
  padding: 30px 60px;
  width: 480px;
  .el-message-box__title{
    // text-align: center;
    font-weight: 600;
    color: #222222;
    span{
      font-size: 24px;
    }
  }
  .el-message-box__content{
    padding: 0; 
    margin-bottom: 1.2rem;
    // text-align: center;
    font-weight: 400;
    color: #222222;
    span{
      font-size: 20px;
    }
  }
  .el-message-box__btns{
    justify-content: center;
    flex-wrap: nowrap;
    button{
      width: 180px;
      height: 52px;
      border-radius: 12px;
      font-weight: 600;
      border: 1.5px solid #F65747;
      color: #F65747;
      &.el-button--primary{
        background: #5669FF;
        color: #fff;
        border: none;

      }
    }
  }
}
.loading{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5000;
    background-color: rgba(34, 34, 34, 0.473);
    .loading-box{
        .lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
          }
          .lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #000;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
          }
          .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
          }
          @keyframes lds-ellipsis1 {
            0% {
              transform: scale(0);
            }
            100% {
              transform: scale(1);
            }
          }
          @keyframes lds-ellipsis3 {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
          }
          @keyframes lds-ellipsis2 {
            0% {
              transform: translate(0, 0);
            }
            100% {
              transform: translate(24px, 0);
            }
          }
    }
}
  